<section class="bg-color">
  <div class="containers">
    <div class="title">
      <p>The Best Seller Of Shopping</p>
      <h1><span>Best</span> Seller</h1>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">9%</div>
          <div class="label label-green">Pre-Order</div>
          <div class="product-container">
            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/img1.jpg" alt="Product"></div>
            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/img2.webp" alt="Product"></div>
            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/img3.jpg" alt="Product"></div>
          </div>
          <div class="image">
            <img src="{{url}}" alt="Image">
          </div>
          <div class="cart-line"></div>
          <div class="cart-item">
            <ul>
              <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
              <li><a href=""><i class="fa fa-heart"></i></a></li>
              <li><a href=""><i class="fa fa-search"></i></a></li>
            </ul>
          </div>
          </div>
          <div class="content">
            <a href="">Product Bar</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p><span class="money">$92.70</span> <span class="old-price">$90.00</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">12%</div>
          <div class="label label-green">Pre-Order</div>
          <div class="product-container">
            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/iphone.jpg" alt="Product"></div>
            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/81rOuSWZtvL._SX679_.jpg" alt="Product"></div>
            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/61xzuXWWozS._AC_UL320_.jpg" alt="Product"></div>
          </div>
          <div class="image">
            <img src="{{url}}" alt="Image">
          </div>
          <div class="cart-line"></div>
          <div class="cart-item">
            <ul>
              <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
              <li><a href=""><i class="fa fa-heart"></i></a></li>
              <li><a href=""><i class="fa fa-search"></i></a></li>
            </ul>
          </div>
          </div>
          <div class="content">
            <a href="">Product Bar</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p><span class="money">$95.70</span> <span class="old-price">$92.00</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">15%</div>
          <div class="label label-green">Pre-Order</div>
          <div class="product-container">
            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/oneplus.jpg" alt="Product"></div>
            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/614Sb6FBW4L._SX679_.jpg" alt="Product"></div>
            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/417OpL3wGAL._AC_UL320_.jpg" alt="Product"></div>
          </div>
          <div class="image">
            <img src="{{url}}" alt="Image">
          </div>
          <div class="cart-line"></div>
          <div class="cart-item">
            <ul>
              <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
              <li><a href=""><i class="fa fa-heart"></i></a></li>
              <li><a href=""><i class="fa fa-search"></i></a></li>
            </ul>
          </div>
          </div>
          <div class="content">
            <a href="">Product Bar</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p><span class="money">$82.70</span> <span class="old-price">$88.00</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">10%</div>
          <div class="label label-green">Pre-Order</div>
          <div class="product-container">
            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/oppo.webp" alt="Product"></div>
            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/811NnedwxJL._AC_UL320_.jpg" alt="Product"></div>
            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/61iKz+-mRCL._AC_UL320_.jpg" alt="Product"></div>
          </div>
          <div class="image">
            <img src="{{url}}" alt="Image">
          </div>
          <div class="cart-line"></div>
          <div class="cart-item">
            <ul>
              <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
              <li><a href=""><i class="fa fa-heart"></i></a></li>
              <li><a href=""><i class="fa fa-search"></i></a></li>
            </ul>
          </div>
          </div>
          <div class="content">
            <a href="">Product Bar</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p><span class="money">$90.70</span> <span class="old-price">$94.00</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>